{% trans with {
	'%name%': item.name,
	'%show%': path('item_show', {'id': item.id, 'name': item.name}),
	'%add%': path('item_change', {'id': item.id, 'name': item.name})
} %}Failed to update <a href="%show%">%name%</a> in the database MyAnimeList. <a href="%add%">Add</a> a reference to external sources item to connect the item on MyAnimeList.{% endtrans %}