{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}MyAnimeList sync settings{% endtrans %}{% endblock %}

{% block content %}
<div class="b-my-anime-list-sync-settings">
	<h2>{% trans %}MyAnimeList sync settings{% endtrans %}</h2>
</div>
{% endblock %}